**/.DS_Store
CSE510_DBMS.iml
minjava/javaminibase/src/javadoc/*
out/*
minjava/javaminibase/src/Makefile
minjava/javaminibase/src/BigT/Makefile
minjava/javaminibase/src/btree/Makefile
minjava/javaminibase/src/bufmgr/Makefile
minjava/javaminibase/src/catalog/Makefile
minjava/javaminibase/src/chainexception/Makefile
minjava/javaminibase/src/diskmgr/Makefile
minjava/javaminibase/src/global/Makefile
minjava/javaminibase/src/heap/Makefile
minjava/javaminibase/src/index/Makefile
minjava/javaminibase/src/iterator/Makefile
minjava/javaminibase/src/javadoc/*
minjava/javaminibase/src/META-INF/*
minjava/javaminibase/src/programs/*.class
